footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div{
    width: 250px;
    padding: 20px;
}

footer div img{
    height: 60px;
}

.footer-gallery{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    justify-content: flex-start;
}

.footer-gallery img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}