.footer-a{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-a div{
    width: 250px;
    padding: 20px;
}

.footer-a div img{
    height: 60px;
}

.footer-a .footer-gallery{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    justify-content: flex-start;
}

.footer-a .footer-gallery img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-b {
    background-color: grey;
    padding: 10px;
    font-size: 14px;
}