body{
    padding: 0px;
    margin: 0px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    line-height: 40px;
    color: darkolivegreen;
}

nav ul li:last-child{
    margin-left:50%;
}

nav img{
    height: 50px;
    width: auto;
}

nav ul li div{
    padding: 5px;
    transition: all 0.3s ease;
}

nav ul li div:hover{
    border-bottom: 2px solid grey;
}

/* unvisited link */
nav ul li div a:link {
    color: darkolivegreen;
    text-decoration: none;
}
  
  /* visited link */
nav ul li div a:visited {
    color: darkolivegreen;
    text-decoration: none;
}
  
  /* mouse over link */
nav ul li div a:hover {
    color: darkolivegreen;
    text-decoration: none;
}
  
/* selected link */
nav ul li div a:active {
    color: darkolivegreen;
    text-decoration: none;
}