.gallery{
    padding: 40px;
}

.gallery img{
    width: 5vw;
    height: auto;
}

.gallery ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employees ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.employees div p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.employees img{
    width:10vw;
    height: 10vw;
    margin: 10px;
}